<a href="https://colab.research.google.com/github/singaravelan/python_tutorials/blob/main/Sessionr_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to NumPy

### NumPy Standard Data Types

In [ ]:
import numpy as np

In [ ]:
# Integer data type
int_array = np.array([1, 2, 3], dtype=np.int32)
print(int_array.dtype)

In [ ]:
# Float data type
float_array = np.array([1.0, 2.0, 3.0], dtype=np.float64)
print(float_array.dtype)

### Basics of NumPy Arrays

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.shape)
print(arr.ndim)
print(arr.size)

### Aggregations

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr.sum())
print(arr.mean())
print(arr.std())

## Data Manipulation with Pandas

### Introduction to Pandas

In [ ]:
import pandas as pd

In [ ]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)

### Data Indexing and Selection

In [ ]:
print(df['A'])  # Selecting a column
print(df.loc[1])  # Selecting a row
print(df.iloc[0, 1])  # Selecting a specific element

### Operating on Data

In [ ]:
# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, np.nan]}
df = pd.DataFrame(data)

In [ ]:
# fillna example
df.fillna(0, inplace=True)
print(df)

In [ ]:
# apply example
df['A_squared'] = df['A'].apply(lambda x: x ** 2)
print(df)

### Group By and Rolling

In [ ]:
# Creating a sales DataFrame
sales_data = {'Date': pd.date_range(start='2023-01-01', periods=6, freq='D'),
              'Store': ['A', 'A', 'B', 'B', 'A', 'B'],
              'Sales': [100, 200, 150, 300, 250, 400]}
sales_df = pd.DataFrame(sales_data)

In [ ]:
# Group by Store and calculate mean sales
store_sales = sales_df.groupby('Store')['Sales'].mean()
print(store_sales)

In [ ]:
# Rolling window example
sales_df['Rolling_Avg'] = sales_df['Sales'].rolling(window=2).mean()
print(sales_df)

## Visualization with Matplotlib

### Introduction to Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
t = [0, 1, 2, 3, 4]
s = [0, 1, 4, 9, 16]
plt.plot(t, s)
plt.show()

### Simple Line Plots

In [ ]:
plt.plot(t, s, marker='o', linestyle='-')
plt.xlabel('Time')
plt.ylabel('Value')
plt.title('Simple Line Plot')
plt.show()

### Simple Scatter Plots

In [ ]:
plt.scatter(t, s)
plt.xlabel('Time')
plt.ylabel('Value')
plt.title('Simple Scatter Plot')
plt.show()

### Histogram

In [ ]:
data = np.random.randn(1000)
plt.hist(data, bins=30, edgecolor='black')
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Histogram')
plt.show()